@font-face
{
	font-family: "Proxima";
	src: url('../font/ProximaNova-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: lighter;
	
}
@font-face
{
	font-family: "Proximal";
	src: url('../font/Proxima-light.ttf') format('truetype');
	font-style: normal;
	font-weight: lighter;
	
}
@font-face
{
	font-family: "Proximaex";
	src: url('../font/ProximaNova-Extrabld.ttf') format('truetype');
	font-style: normal;
	font-weight: lighter;
	
}
@font-face
{
	font-family: "Proximab";
	src: url('../font/ProximaNova-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: lighter;	
}
@font-face
{
	font-family: "Helvetica";
	src: url('../font/Helvetica.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face
{
	font-family: "Helveticab";
	src: url('../font/HelveticaBold.ttf') format('truetype');
	font-style: normal;
	font-weight: lighter;
	
}
